  .App{
  display: grid;
  grid-area: auto;
}

.titulo{

padding: 1em;
margin-bottom: 2em;
background-color: rgb(26, 192, 164);
color: #fff; 
 }

.eleccion {
display: contents;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
padding: 60px;
padding-left: 60px;
padding-top: 60px;


}  
 .elecciones {
 
  border-radius: 5px;
  justify-items: center;
  
} 
 .resultado{
  
 
  padding: 1em;
  border-radius: 50px;
  margin-bottom: 1em;
  background-color: rgb(26, 192, 164);
  color: #fff; 
 }


.jugador{

justify-content: center;
align-items: baseline;
padding: 1em;
margin-bottom: 2em;
background-color: rgb(192, 59, 26);
color: #fff;
} 

 .computadora{
  
padding: 1em;
margin-bottom: 2em;
background-color: rgb(87, 192, 26);
color: #fff;
} 

